<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">	
		
		<main role="main">
		
		<section class="jumbotron text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/image/ordem.jpeg}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Ordem dos Arquitetos</h1>
				<p class="lead text-muted">Criar Perguntas para o Exame</p>
			</div>
		</section>
			
		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">					
					<div class="col-md-8">						
						<div th:replace="fragments/alert"></div>
						<form th:action="@{/perguntas/novo}" th:object="${requisicaoNovaPergunta}"  
							method="POST" class="was-validated">
							
							<div class="form-group row">
								<label for="especialidade" 
									class="col-sm-2 col-form-label">Classificacao</label>
								<div class="col-sm-10">
									<input type="text" class="form-control is-valid" th:field="*{classificacao}"
										id="ano_exame" placeholder="Ano Exame" required />
									<div class="invalid-feedback">localizacao é requerida.</div>	
								</div>
							</div>
							<div class="form-group row">
								<label for="especialidade" 
									class="col-sm-2 col-form-label">Descricao</label>
								<div class="col-sm-10">
									<input type="text" class="form-control is-valid"  th:field="*{descricao}"
										id="ano_exame" placeholder="Ano Exame" required />
									<div class="invalid-feedback">localizacao é requerida.</div>	
								</div>
							</div>
							<div class="form-group row">
								<label for="especialidade" 
									class="col-sm-2 col-form-label">Ano Exame</label>
								<div class="col-sm-10">
									<select id="localizacao" class="form-control" th:field=*{codigo_ano}>
									<option value="ano">Selecione</option>
									<option th:each="a: ${anos}" th:value="${a.id}" th:text="${a.ano}">Lubango</option>
									</select>	
								</div>
							</div>
							<div class="form-group row">
								<label for="especialidade" 
									class="col-sm-2 col-form-label">Ano Exame</label>
								<div class="col-sm-10">
									<select id="localizacao" class="form-control" th:field=*{tipo_exame}>
									<option value="ano">Selecione</option>
									<option value="Cultura Geral">Cultura Geral</option>
									<option value="Lingua Portugues">Lingua Portugues</option>
									<option value="Arquitetuti">Arquitetura Moderna</option>
									</select>	
								</div>
							</div>						
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary" data-toggle="tooltip"
											data-placement="right" title="Salvar"><i class="fas fa-save"></i></button>
								</div>
							</div>
						</form>
						<h2>Lista de Pergutnas</h2>
						<table class="table table-sm table-striped table-bordered nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Pergunta</th>
									<th scope="col">Classificacao</th>
									<th scope="col">Tipo de Exama</th>
									<th scope="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="p: ${perguntass}">
									<td th:text="${p.id}">21</td>
									<td th:text="${p.descricao}">21</td>
									<td th:text="${p.classificacao}">propina</td>
									<td th:text="${p.tipo_exame}">propina</td>
									<td class="text-center"><a class="btn btn-info btn-sm"
										th:href="@{/perguntas/editar/{id} (id=${p.id}) }"
										role="button"> <span class="oi oi-brush" title="Editar"
											aria-hidden="true"></span>
									</a> <a class="btn btn-link btn-xs"> <i
											class="fas fa-times-circle"></i>
									</a></td>
								</tr>
								<tr>
									<td colspan="5" th:if="${#lists.isEmpty(perguntass)}">Nenhum
										Ano Lectivo foi encontrado.</td>
								</tr>
							</tbody>
						</table>
						<hr/>
					</div>
				</div>
			</div>
		</div>
		
		</main>
	</section>
	<script th:src="@{/js/clinicas.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>